<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookOnline</servlet-name>
        <jsp-file>/book-online.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookOnline</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Trainers</servlet-name>
        <jsp-file>/trainers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trainers</servlet-name>
        <url-pattern>/trainers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Schedule</servlet-name>
        <jsp-file>/schedule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contacts</servlet-name>
        <jsp-file>/contacts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
</web-app>
